input {
    redis {
        host => "redis-col"
        port => 6380
        key => "myqueue"
        password => "pass"
        data_type => "list"
        codec => "plain"
        ssl => true
    }
}

output {
#    stdout {
#        codec => rubydebug
#    }
    file {
        path => "/app/logs/output.log"
    }
}
